<mat-dialog-title mat-dialog-title>
  <h1>{{data ? 'Update Campaign' :
    'Create Campaign'}}</h1>
</mat-dialog-title>
<form [formGroup]="campaignForm" (ngSubmit)="onFormSubmit()">
  <mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Campaign Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="status">
        <mat-label><b>Status</b></mat-label>
        <mat-radio-button value="on">On</mat-radio-button>
        <mat-radio-button value="off">Off</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row keys">
      <mat-label><b>Keywords</b></mat-label>
      <ng-multiselect-dropdown class="multiselect" [placeholder]="'Choose keywords'" [settings]="dropdownSettings"
        [data]="keywords" formControlName="keyword">
      </ng-multiselect-dropdown>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Bid Amount ($)</mat-label>
        <input matInput type="number" formControlName="bidAmount">
        <mat-error
          *ngIf="campaignForm?.touched && !campaignForm.valid && campaignForm.get('bidAmount')!.errors?.['min']">Bid
          should be minimum {{20 |
          currency}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Campaign Fund ($)</mat-label>
        <input matInput type="number" formControlName="campaignFund">
        <!-- <mat-error>{{showBudgetError()}}</mat-error> -->
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Town</mat-label>
        <mat-select formControlName="town">
          <mat-option *ngFor="let town of towns" [value]="town">{{town}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Radius (km)</mat-label>
        <input matInput type="number" formControlName="radius">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!campaignForm.valid" type="submit">{{data ? 'Update' :
      'Save'}}</button>
  </div>
</form>