<div mat-dialog-title>
  <h1>Budget Edit</h1>
</div>
<form [formGroup]="budgetForm" (ngSubmit)="onFormSubmit()">
  <mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Budget ($)</mat-label>
        <input matInput type="number" formControlName="budget">
      </mat-form-field>
    </div>

  </mat-dialog-content>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!budgetForm.valid" type="submit">Save</button>
  </div>
</form>